<table class="ui celled green table">
  <thead>
    <tr>
      <th>Judul</th>
      <th>Deskripsi</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of masterArtikel">
      <td data-label="title">{{data.title}}</td>
      <td data-label="description">{{data.description}}</td>
      <td data-label="image" class="ui medium image">
        <img src="{{data.image_url}}" onclick="window.open(this.src)"/>
      </td>
      <td class="center aligned collapsing">
        <a href="javascript:void(0)" (click)="delete(data)">
          <i class="red trash link icon action-icon"></i>
        </a>
        <a [routerLink]="['/admin', 'artikel', data.id, 'edit']">
          <i class="green edit link icon action-icon"></i>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="4">
        <a [routerLink]="['/admin', 'artikel', 'create']">
          <div class="ui right floated small green labeled icon button">
            <i class="plus icon"></i> Tambah Artikel
          </div>
        </a>
      </th>
    </tr>
  </tfoot>
</table>