<div class="ui middle aligned center aligned grid" style="margin-top: 3%">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Please Complete Your Details
      </div>
    </h2>
    <form [formGroup]="registrationForm" class="ui large form" (ngSubmit)="onSubmit()">
      <div class="ui stacked segment">
        <div class="field form-group">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" formControlName="name" placeholder="Input Name">
          </div>
        </div>
        <div class="field form-group">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" formControlName="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field form-group">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" formControlName="password" placeholder="Password">
          </div>
        </div>
        <div class="field form-group">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" formControlName="c_password" placeholder="Retype Password">
          </div>
        </div>
        <button class="ui fluid large teal submit button" [disabled]="!registrationForm.valid">Sign Up</button>
      </div>
      <div class="ui error message"></div>

      <div class="ui message">
        Have an account? <a [routerLink]="['/admin']" routerLinkActive="active">Sign In</a>
      </div>

    </form>
  </div>
</div>