<table class="ui celled green table">
    <thead>
      <tr>
        <th>Judul</th>
        <th>Deskripsi</th>
        <th>Link Media</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of masterMedia">
        <td data-label="title">{{data.title}}</td>
        <td data-label="description">{{data.description}}</td>
        <td data-label="file_url">
          <a href="{{data.file_url}}">{{data.file_url}}</a>
        </td>
        <td class="center aligned collapsing">
          <a href="javascript:void(0)" (click)="delete(data)">
            <i class="red trash link icon action-icon"></i>
          </a>
          <a [routerLink]="['/admin', 'media', data.id, 'edit']">
            <i class="green edit link icon action-icon"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <a [routerLink]="['/admin', 'media', 'create']">
            <div class="ui right floated small green labeled icon button">
              <i class="plus icon"></i> Tambah Media
            </div>
          </a>
        </th>
      </tr>
    </tfoot>
  </table>