<div class="ui container fullheight" style="margin-top: 0">
  <div class="ui equal width grid" style="margin-top: 0">
    <div class="three wide column sidebar">
      <div class="ui green secondary vertical menu fullwidth">
        <a class="item" [routerLink]="['/admin/artikel']" routerLinkActive="active">
          <i class="quote right icon"></i> Artikel
        </a>
        <a class="item" [routerLink]="['/admin/berita']" routerLinkActive="active">
          <i class="id newspaper icon"></i> Berita
        </a>
        <a class="item" [routerLink]="['/admin/biografi']" routerLinkActive="active">
          <i class="address card icon"></i> Biografi
        </a>
        <a class="item" [routerLink]="['/admin/media']" routerLinkActive="active">
          <i class="images outline icon"></i> Media
        </a>
        <a class="item" [routerLink]="['/admin/ngaji']" routerLinkActive="active">
          <i class="calendar alternate icon"></i> Pengajian
        </a>
        <!-- <a class="item" [routerLink]="['/admin/referensi-kontrak']" routerLinkActive="active">
          <i class="archive icon"></i> Dokumen
        </a> -->
      </div>
    </div>
    <div class="thirteen wide column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
