<!-- <div class="ui large top fixed menu header-color"> -->
<div class="row header header-color">
  <div class="ui container">
    <div class="right menu">
      <div class="item">
        <ng-container *ngIf="statusLoggedIn">
          <a class="ui button on-right" (click)="logout()">Logout</a>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->