<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a class="font-color"> Admin Ustad Haikal Hassan</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->