<div class="box">
  <ng-container *ngIf="loggedin != null">
    <div class="row header header-color">
      <app-header></app-header>
    </div>
  </ng-container>



  <div class="row content" style="background: #ececee;">
    <router-outlet></router-outlet>
    <ng4-loading-spinner> </ng4-loading-spinner>
  </div>

  <!-- Footer -->
  <div class="ui vertical footer segment" style="background-color: #21ba45;">
    <app-footer></app-footer>
  </div>
  <!-- Footer -->
</div>