.box{
	display: flex;
	flex-flow: column;
	height: 100%
}

.box .row {
    border: none
}

.box .row.header {
    position: relative;
    
}

.header-color {
    background-color: #21ba45ab;
}

.box .row.content{
    flex: 1 1 auto;
    padding-bottom: 4%;
    padding-top: 5%
}

.box .row.footer{
    flex: 0 1 40px

}

.hidden.menu {
    display: none;
  }

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }
  }

.always-bottom{
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.footer{
    border: 0
}

.image-footer {
    width: 45%;
}

// .footer.segment {
//     padding: 5em 0em;
//   }