<div class="ui middle aligned center aligned grid" style="margin-top: 3%">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form [formGroup]="loginForm" class="ui large form" (ngSubmit)="onSubmit()">
      <div class="ui stacked segment">
        <div class="field form-group">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" formControlName="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field form-group">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" formControlName="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large teal submit button" [disabled]="!loginForm.valid">Login</button>
      </div>
      <div class="ui error message"></div>

      <div class="ui message">
        New to us? <a [routerLink]="['/register']" routerLinkActive="active">Sign Up</a>
      </div>

    </form>
  </div>
</div>