<ui-form-block title="Input Detail Berita" [errorMsg]="errorMsg" [submitting]="submitting">
  <!-- <div class="ui two column grid"> -->
    <div class="column border-right">
      <form [formGroup]="fg" (ngSubmit)="save()" class="ui form">
          <h4 class="ui dividing header">Informasi Berita</h4>
        <div class="required field">
          <label>Judul Berita</label>
          <input type="text" placeholder="Input Judul Berita" formControlName="title">
        </div>
        <div class="required field">
          <label>Deskripsi</label>
          <textarea placeholder="Input Deskripsi Berita" formControlName="description"></textarea>
        </div>
        <div class="required field">
          <label>Upload Image</label>
          <input type="file" placeholder="Upload image" formControlName="image_url" (change)="onFileChanged($event)">
        </div>
        <div class="inline field">
          <button class="ui secondary button" type="button" (click)="cancel()">Cancel</button>
          <button class="ui primary button" type="submit" [disabled]="!fg.valid">Save Changes</button>
        </div>
      </form>
    </div>

    <div class="column">
      <div class="fullheight fullwidth" style="background: url(assets/paragraph.png)">

      </div>
    </div>
  <!-- </div> -->
</ui-form-block>