<ui-form-block title="Input Detail Media" [errorMsg]="errorMsg" [submitting]="submitting">
  <!-- <div class="ui two column grid"> -->
    <div class="column border-right">
      <form [formGroup]="fg" (ngSubmit)="save()" class="ui form">
        <h4 class="ui dividing header">Informasi Media</h4>
        <div class="required field">
          <label>Judul Media</label>
          <input type="text" placeholder="Input Judul Media" formControlName="title">
        </div>
        <div class="required field">
          <label>Deskripsi</label>
          <textarea placeholder="Input Deskripsi Media" formControlName="description"></textarea>
          <!-- <input type="text" > -->
        </div>
        <div class="required field">
          <label>Jenis Media</label>
          <input type="hidden">
          <select placeholder="Pilih Jenis Media" formControlName="media_type" (change)="onCheck()">
            <!-- <option value="">Jenis Media</option> -->
            <option value="audio">Audio</option>
            <option value="image">Gambar</option>
            <option value="video">Video</option>
          </select>
          <!-- <input type="select" placeholder="Pilih Jenis Media" formControlName="media_type" (change)="onCheck()"> -->
        </div>
        <ng-container *ngIf="fg.value.media_type != 'image'">
          <div class="required field">
            <label>Link Media</label>
            <input type="text" placeholder="Input Link Media" formControlName="file_url">
          </div>
        </ng-container>
        <ng-container *ngIf="fg.value.media_type == 'image'">
          <div class="required field">
            <label>Upload Image</label>
            <input type="file" placeholder="Upload image" formControlName="file_url" (change)="onFileChanged($event)">
          </div>
        </ng-container>
        <div class="inline field">
          <button class="ui secondary button" type="button" (click)="cancel()">Cancel</button>
          <button class="ui primary button" type="submit" [disabled]="!fg.valid">Save Changes</button>
        </div>
      </form>
    </div>

    <div class="column">
      <div class="fullheight fullwidth" style="background: url(assets/paragraph.png)">

      </div>
    </div>
  <!-- </div> -->
</ui-form-block>