<ui-form-block title="Input Detail Pengajian" [errorMsg]="errorMsg" [submitting]="submitting">
  <!-- <div class="ui column grid"> -->
    <div class="column border-right">
      <form [formGroup]="fg" (ngSubmit)="save()" class="ui form">
          <h4 class="ui dividing header">Informasi Pengajian</h4>
        <div class="required field">
          <label>Judul Pengajian</label>
          <input type="text" placeholder="Input Judul Pengajian" formControlName="title">
        </div>
        <div class="required field">
          <label>Deskripsi</label>
          <textarea placeholder="Input Deskripsi Pengajian" formControlName="description"></textarea>
        </div>
        <h4 class="ui dividing header">Informasi Penceramah</h4>
        <div class="required field">
          <label>Penceramah</label>
          <input type="text" placeholder="Input Penceramah" formControlName="speakers">
        </div>
        <h4 class="ui dividing header">Informasi Waktu dan Tempat</h4>
        <div class="fields">
          <div class="required field">
            <label>Tanggal Pengajian</label>
            <input type="date" placeholder="Input Tanggal Pengajian" formControlName="event_date">
          </div>
          <div class="required field">
            <label>Jam Pengajian</label>
            <input type="time" placeholder="Input Jam Pengajian" formControlName="event_time">
          </div>
          <div class="required field">
              <label>Tempat</label>
              <input type="text" placeholder="Input Tempat Pengajian" formControlName="event_place">
            </div>
        </div>
        <h4 class="ui dividing header">Informasi Poster</h4>
        <div class="required field">
          <label>Upload Image</label>
          <input type="file" placeholder="Upload image" formControlName="image_url" (change)="onFileChanged($event)">
        </div>
        <div class="inline field" style="margin-bottom: 5%">
          <button class="ui secondary button" type="button" (click)="cancel()">Cancel</button>
          <button class="ui primary button" type="submit" [disabled]="!fg.valid">Save Changes</button>
        </div>
      </form>
    </div>

    <div class="column">
      <div class="fullheight fullwidth" style="background: url(assets/paragraph.png)">

      </div>
    </div>
  <!-- </div> -->
</ui-form-block>